name: Python CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install pylint pytest

    # Optional: Check for syntax errors or undefined names
    - name: Lint with pylint
      run: |
        # Run pylint on main scripts and modules/ directory
        pylint --disable=C,R,W0613,W0621 --exit-zero modules/ tests/ *.py 

    - name: Test with pytest
      run: |
        pytest tests/
